.limparBtn {
    margin: 1.5rem;
    margin-left: 5rem;
    width: 25rem;
    height: 5rem;
    float: right;
    border-radius: 5rem;

    font-size: 2rem;
    font-weight: bold;
    cursor: pointer; 
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    color:#000;
}

.buscarBtn {
    margin: 1.5rem;
    margin-left: 5rem;
    width: 25rem;
    height: 5rem;

    border-radius: 5rem;
    align-self: left;

    font-size: 2rem;
    font-weight: bold;
    cursor: pointer; 
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    color:#000;
}

.buscarBtn:hover,
.buscarBtn:active,
.limparBtn:hover,
.limparBtn:active {
    background-color: #000;
    border-color: #000;
    color:#fff;
}