.home {
    width: 100vw;
    height: 100vh;
    display: block;
    flex-direction: column;
    background-color: #fff;
    overflow: auto;
}

.barra_sup {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: solid;
}

.barra_sup button {
    margin-right: 5rem;
    width: 5rem;
    height: 5rem;
    align-self: center;

    font-size: 2rem;
    font-weight: bold;
    cursor: pointer; 
    background-color: #fff;
    border: 1px solid #19180a;

    color: #19180a;
}

.barra_sup button:hover,
.barra_sup button:active {    
    background-color: #fff;
    border-color: #19180a;
    color:#19180a;
}

.barra_sup h1 {
    display: inline;
    align-self: center;
    margin-left: 70rem;
    margin-right: 0rem;
    font-size: 2rem;
    color: #74e392; 
}

.barra_sup p {
    display: inline;
    align-self: center;
    margin-left: -10rem;
    margin-right: 10rem;
    font-size: 2.5rem;
    color: #74e392; 
}

.barra_sup img {
    height: 90%;
    cursor: pointer;
    margin-left: 3rem;
    align-self: center;
}

.tabela {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.tabela h1 {
    margin:2rem;
    align-self: center;
    font-weight: regular;
    color: #000;
}

table {
    width: 100%;
}

th {
    height: 1rem;
    padding: 1%;
    background-color: #e1e1e1;

    font-size: 1.8em;
    font-weight: normal;
    text-transform: capitalize;
}
  
td {
    height: 1rem;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    background-color: #f6f6f6;
}